{:dbs  [:hadoop :zookeeper :flink-standalone-session]
 :jobs [{:job-jar  "/home/admin/bin/DataStreamAllroundTestProgram.jar"
         :job-args "--environment.parallelism 9 --state_backend.checkpoint_directory hdfs:///checkpoints --state_backend rocks --state_backend.rocks.incremental true"}]}
